<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
        function showPopupNote() {
        alert("Features:\n" +
            "- Task Addedd Successfully = Green;\n" +
            "- An Error Occurred = Red;\n" +
            "- Add Task Button = Green;\n" +
            "- Task Done Button = Green;\n" +
            "- To Do Task Button = Red;\n" +
            "- Edit Task Button = Blue;\n" +
            "- Delete Task Button = Red;");
    }

    if (!localStorage.getItem('popupNoteShown')) {
        window.onload = function () {
            showPopupNote();
            localStorage.setItem('popupNoteShown', true);
        };
    }
        </script>

</head>

<body>
    <div>

        <h1>To Do List</h1>
        {% if message %}
            {% if message_type == 'error' %}
                <div class="error-message">{{ message }}</div>
            {% elif message_type == 'success' %}
                <div class="success-message">{{ message }}</div>
            {% endif %}
        {% endif %}

        <form action="/add" method="post">
            <div>
                <label>Add Task:</label>
                <input type="text" name="task" placeholder="Enter a Task">
                <button type="submit" class="add-button">Add</button>
            </div>
        </form>

<hr>

        <div>
        {% for todo in todo_list %}
            <p class="{% if todo.complete %}completed-task{% else %}incomplete-task{% endif %}">
                {{ todo.id }}. {{ todo.task }}

<hr class="section-divider">

                <form action="/toggle/{{ todo.id }}" method="post">
                    <label>Mark Task As:</label>
                    <button type="submit" class="{% if todo.complete %}incomplete-button{% else %}complete-button{% endif %}">
                        {% if todo.complete %}
                            To Do
                        {% else %}
                            Done
                        {% endif %}
                    </button>
                </form>

                <form action="/edit/{{ todo.id }}" method="post">
                    <label>Edit Task:</label>
                    <input type="text" name="edit_task" required>
                    <button type="submit" class="edit-button">Edit</button>
                </form>

                <form action="/delete/{{ todo.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
                    <label>Delete Task:</label>
                    <button type="submit" class="delete-button">Delete</button>
                </form>

<hr class="section-divider">

                <br> Created on: {{ todo.date_created.strftime('%Y/%m/%d %H:%M:%S') }}

                {% if todo.date_completed %}
                    <br> Completed on: {{ todo.date_completed.strftime('%Y/%m/%d %H:%M:%S') }}
                {% endif %}

                {% if todo.date_edited %}
                    <br> Edited on: {{ todo.date_edited.strftime('%Y/%m/%d %H:%M:%S') }}
                {% endif %}

<hr>

            </p>
        {% endfor %}



        </div>
    </div>
</body>
</html>